*{
  margin: 0;
  padding:0;
}

.navtop{
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 23%;
  height: 450px;
}

.nav{
  border-radius: 15px;
  object-fit: fill;
}

form{
  margin: 0.8em;
}

.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
  margin-bottom: 40px;
}

.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}

.input {
  height:45px;
  border:none;
  width:440px;
  font-size:16px;
  outline: none;
}

.search {
  border: 3px solid rgb(2, 117, 216);
  border-radius: 15px;
  font-size: 16px;
  background-color: rgb(2, 117, 216);
  color: white;
  padding: 10px 20px;
  margin:5px;
  position:relative;

} 

.image-grid{
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin-left: 12.5%;
}

.image-grid > div {
  flex-basis: calc(50% - 70px);
}


.img-box{
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  max-height: 80%;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

.img{
  width: 300px;
  background: rgb(0, 0, 0);
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

.img:hover{
  filter: opacity(.8)
}
/* p{

  cursor: pointer;
  margin-bottom: 12px;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(92, 184, 92);
  border-radius: 15px;
  text-align: center;
  padding: 14px;
  background-color: rgb(92, 184, 92);
  font-size: 24px;
} */

.card{
  height: 100%;
}

.author-button{
  text-align: center;
}

.alt{
  text-align: center;
}

.load {
  padding: 10px;
  width: 20%;
  margin: 1rem 50rem;
}
