*{
  margin: 0;
  padding:0;
}

.navtop{
  border-radius: 15px;
  margin: 50px;
  height: 450px;
}

.nav{
  border-radius: 15px;
  object-fit: fill;
}

form{
  margin: 1em;
}

.bar{
  cursor: pointer;
  border: 3px solid rgb(50, 50, 50);
  border-radius: 15px;
  padding: 0 12px;
  margin: 50px;
}

.input {
  padding: 10px;
  border: 3px solid rgb(100,100,100);
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 26px;
  width: 70%;
  margin-right: 20px;
  margin-left: 75px;
}

.search {
  border: 3px solid rgb(2, 117, 216);
  border-radius: 15px;
  font-size: 26px;
  padding: 10px;
  width: 20%;
  background-color: rgb(2, 117, 216);
  color: white;
} 

.container{
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(50, 50, 50);
  border-radius: 15px;
  text-align: center;
  padding: 14px;
  background-color:	rgb(41, 43, 44);
  
}

.image-grid{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

img{
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  width: 100%;
  height: 100%;
}

img:hover{
  filter: opacity(.8)
}

p{

  cursor: pointer;
  margin-bottom: 12px;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(92, 184, 92);
  border-radius: 15px;
  text-align: center;
  padding: 14px;
  background-color: rgb(92, 184, 92);
  font-size: 24px;
}

.load {
  border: 3px solid	rgb(217, 83, 79);
  border-radius: 15px;
  font-size: 26px;
  padding: 10px;
  width: 20%;
  background-color: rgb(217, 83, 79);
  color: white;
  margin: 40px 800px;
}

